footer.footer
	.container
		.row
			.col-md-3.mt-5
				.row
					.col
						h5 newsletter
				.row
					.col
						ul
							li
								a(href="#") 156 nguyen van thu,1 district,hcm
							li
								a(href="#") hotline: 0123456789
							li
								a(href="#") info@contact.com
			.col-md-4.mt-5
				.row
					.col
						h5 product
				.row
					.col
						ul
							li
								a(href="#") ice cream
							li
								a(href="#") hera
							li
								a(href="#") saigon night
							li
								a(href="#") pure
					.col
						ul
							li
								a(href="#") moisture
							li
								a(href="#") stylish
							li
								a(href="#") natural
			.col-md-5.mt-5
				form
					label.mb-0(for="") ENTER YOUR EMAIL...
					br
					.input-group.mb-3
						input.form-control(type="text" aria-label="Recipient's username" aria-describedby="button-addon2")
						.input-group-append
							button#button-addon2.btn.btn-outline-secondary(type="button") 
								span.fa.fa-arrow-right
				p Lorem ipsum dolor sit, amet consectetur adipisicing.
				p
					span.fa.fa-facebook &nbsp;
					span.fa.fa-instagram &nbsp;
					span.fa.fa-youtube &nbsp;
		hr
		.row
			.col.copyright.text-center
				p.m-b-0 Copyright 2018 by 
					a(href='/') FullStack Vietnam.
		
